

body, html {
  background-image: url(./Pictures/mathBackground.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height:100%;
  width:100%;
  margin:0;

}

body {
  display:flex;
}

.main-content {
  text-align: center;
}



form {
  margin:auto;
}

.container {
  width: 500px;
  margin: auto;
  vertical-align: auto;
}

.expression {
  padding-right: 20px;
}

.heading {
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
}

@media screen and (min-width: 992px) {
  .container {
    width: 800px;
    
  }
  .heading {
    font-size: 60px;
    
  }
}